<yandex>
  <users>
    <${CLICKHOUSE_USER}>
      <profile>default</profile>
      <networks incl="networks" replace="replace">
        <ip>::/0</ip>
      </networks>
      <quota>default</quota>
      <password_sha256_hex>${CLICKHOUSE_PASSWORD_HASH}</password_sha256_hex>
    </${CLICKHOUSE_USER}>
  </users>
</yandex>